---
import Button from "../ui/button/Button.astro";
import AdvantageList from "../lists/AdvantageList.astro";
  
interface ExperienceItem {
  title: string;
  prompt: string;
  description: string;
  technologies?: string[];
  notes: string[];
}

interface Props {
   title?: string;
}

const {  title } = Astro.props as Props;
---

<section class="w-full py-8">
  <div class="mx-auto max-w-6xl px-5 md:px-6">
    {
      title && (
        <h2 class="text-3xl md:text-4xl font-semibold text-center mb-10 text-foreground">
          {title}
        </h2>
      )
    }

    <AdvantageList
      itemsCount={7}
      centered={true}
      includeNotes={true}
    />

    <div class="mt-8 mb-8 flex items-center justify-center gap-3">
      <Button href={"/advantages"} variant="primary" size="lg"
        >{"Preskúmať viac výhod"}</Button
      >
    </div>
  </div>
</section>
