---
// Copyright (c) Pascal Brand
// MIT License

// Splide configuration  -  require npm install astro-splide @splidejs/splide-extension-auto-scroll
import "@splidejs/splide/css";
import { SplideExtension, SplideSlide } from "astro-splide";
import type { Options } from "@splidejs/splide";

const options: Options = {
    type: "loop",
    drag: "free",
    focus: "center",
    perPage: 4,
    autoScroll: {
        speed: 0.8,
    },
  breakpoints: {
    768: { // pri obrazovke ≤ 768px
      perPage: 1,
    },
    1024: { // voliteľné: pri obrazovke ≤ 1024px
      perPage: 3,
    },
  },
};

// Misc import for this demo
import "./style.css";
import { imgUrls } from "./imgUrls";
---

<SplideExtension
    class="not-content"
    options={options}
    aria-labelledby="extension-example-heading"
>
    {
        imgUrls.map((url) => (
            <SplideSlide>
                <div>
                    <img src={url} alt="" />
                </div>
            </SplideSlide>
        ))
    }
</SplideExtension>

<script>
    import { AutoScroll } from "@splidejs/splide-extension-auto-scroll";
    import { initSplideExtension } from "astro-splide/js/splideExtensionUtils";
    initSplideExtension({ AutoScroll });
</script>
