---
import Footer from "@/components/ui/elements/Footer.astro";
import Header from "@/components/ui/elements/Header.astro";
import HeroSection from "@/components/ui/elements/HeroSection.astro";

import GlowLineSeparator from "../components/ui/separator/GlowLineSeparator.astro";
import BaseHead from "@/components/ui/elements/BaseHead.astro";
import PortfolioList from "@/components/lists/PortfolioList.astro";
import { number } from "astro:schema";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
---

<html lang="en" data-theme="dark" class="dark">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <HeroSection
        title="Oblasti použitia"
        subtitle="Vybrané oblasti kde by sa vám mohol zísť domáci asistent. pre viac info si môžete každú kategóriu rozkliknúť."
      />

      <div class="grid grid-cols-1 md:grid-cols-1 gap-6 max-w-5xl mx-auto mt-2">
        <PortfolioList itemsCount={Number.MAX_SAFE_INTEGER} includeDetails={true}  />
      </div>

      <GlowLineSeparator />
    </main>
    <Footer />
  </body>
</html>
